// Fonts
@font-face {
  font-family: "journal";
  src: url("./Fonts/journal-webfont.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aaarghnormal";
  src: url("./Fonts/Aaargh-webfont.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}
$titleFont: "journal";
$mainFont: "aaarghnormal";

@mixin insetBorders {
  outline: 3px solid #2b283a;
  outline-offset: -20px;
}

//colours
$backgroundColour: whitesmoke;
$mainTextColour: #2b283a;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-image: url("../public/background.png");
  font-family: $mainFont;
  line-height: 1.8;
  text-align: center;
  color: $mainTextColour;
  margin: 0;
}

.title-contianer {
  margin: 20px;
  padding: 20px 0px;
  font-family: $titleFont;
  display: flex;
  flex-direction: column;
  @include insetBorders;
}
.title-h1 {
  margin: 0;
  font-size: 100px;
  font-weight: lighter;
}

.title-h3 {
  transform: translateY(-2.1rem);
  font-size: 50px;
  font-family: $titleFont;
}

.contianer {
  @include insetBorders;
  width: 63%;
  background-color: $backgroundColour;
  margin: 20px;
  padding: 45px 0px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}
li {
  display: inline;
  margin-left: 2em;
}

header {
  width: 66%;
  background-color: $backgroundColour;
  padding: 45px 0px;
  font-family: $mainFont;
  margin: 0;
}

h1 {
  font-size: 60px;
  color: black;
  margin: 0;
}

h3 {
  font-size: 64px;
  margin: 0;
}

span {
  text-decoration: underline;
}

p {
  font-size: 20px;
  font-family: $mainFont;
}
