/*
*/

// <---------- Font - faces ---------->
@font-face {
  font-family: "journal";
  src: url("./Fonts/journal-webfont.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aaarghnormal";
  src: url("./Fonts/Aaargh-webfont.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}
// <---------- site wide fonts ---------->
$titleFont: "journal";
$mainFont: "aaarghnormal";

// ---------- site wide colours ----------
$backgroundColour: whitesmoke;
$mainTextColour: #2b283a;
$autumColour: #638465;

// ---------- mixin ----------

@mixin insetBorders {
  outline: 3px solid $autumColour;
  outline-offset: -20px;
} //border mixin

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 10%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: url("../public/background.png");
  font-family: $mainFont;
  line-height: 1.8;
  text-align: center;
  color: $mainTextColour;
  margin: 0;
}

// <---------- home page layout and typography ---------->
.title-contianer {
  margin: 20px;
  padding: 20px 0px;
  font-family: $titleFont;
  display: flex;
  flex-direction: column;
  @include insetBorders;
}
.title-h1 {
  margin: 0;
  font-size: 100px;
  font-weight: lighter;
}

.title-h3 {
  transform: translateY(-2.1rem);
  font-size: 50px;
  font-family: $titleFont;
}

// <---------- typography ---------->
h1 {
  font-size: 60px;
  color: black;
  margin: 0;
}

h3 {
  font-size: 64px;
  margin: 0;
}

p {
  font-size: 20px;
  font-family: $mainFont;
}

.bold-span {
  font-weight: bolder;
}

.underline-span {
  text-decoration: underline;
}

// <---------- links ---------->
a {
  color: $mainTextColour;
}
a:hover {
  color: $autumColour;
}

.btn {
  text-decoration: underline;
  padding: 5px 7px;
  border-radius: 3px;
  font-size: 1.2em;
  border: $mainTextColour solid 2px;
  color: $backgroundColour;
  font-family: $mainFont;
}

.btn-backg {
  @include button-bg($autumColour);
}

// <---------- layout ---------->
header {
  width: 66%;
  background-color: $backgroundColour;
  padding: 45px 0px;
  font-family: $mainFont;
  margin: 0;
}

.contianer {
  @include insetBorders;
  width: 63%;
  background-color: $backgroundColour;
  margin: 20px;
  padding: 45px 0px;
  display: flex;
  justify-content: center;
  min-height: 70vh;
}

// <---------- lists ---------->
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

li {
  display: inline;
  margin-left: 2em;
}

// <---------- forms ---------->
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 4;
}

// button {
//   margin-top: 2rem;
// }

input {
  padding: 20px 10px;
  line-height: 20px;
  border: 2px solid $autumColour;
  background-color: $backgroundColour;
}

::placeholder {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $backgroundColour;
  color: $mainTextColour;
}

.form-btn {
  display: flex;
  justify-content: center;

  text-decoration: underline;
  padding: 5px 7px;
  border-radius: 3px;
  font-size: 1.2em;
  border: $mainTextColour solid 2px;
  color: $backgroundColour;
  width: 33%;
  font-family: $mainFont;
}
.form-btn-div {
  display: flex;
  justify-content: center;
  transform: translateY(2rem);
}

// <---------- screen sizes ---------->
// @media(min-width : 750px){

// }
